# Ignore all data files by default
data/**/*.parquet
data/**/*.csv

# But keep only sample files
!data/**/sample_data/*.parquet
!data/**/sample_data/*.csv

# Ignore HDFS logs or system files if accidentally copied
*.crc
.DS_Store

# Python-related ignores
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# Spark local output (optional)
spark-warehouse/
.metastore_db/

# Env and IDE files
.env
*.log
.vscode/
.idea/
